In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_excel("apple dataset.xlsx")
df.shape

(1039, 7)

In [ ]:
df

              Date    Open    High     Low  Close   Adj Close        Volume
0     Dec 30, 2024  252.23  253.50  250.75  252.20      251.06   35557500.0
1     Dec 27, 2024  257.83  258.70  253.06  255.59      254.44   42355300.0
2     Dec 26, 2024  258.19  260.10  257.63  259.02      257.85   27237100.0
3     Dec 24, 2024  255.49  258.21  255.29  258.20      257.04   23234700.0
4     Dec 23, 2024  254.77  255.65  253.45  255.27      254.12   40858800.0
...            ...     ...     ...     ...     ...         ...          ...
1034  Dec 10, 2020   120.5  123.87  120.15  123.24      119.97   81312200.0
1035   Dec 9, 2020  124.53  125.95  121.00  121.78      118.55  115089200.0
1036   Dec 8, 2020  124.37  124.98  123.09  124.38      121.08   82225500.0
1037   Dec 7, 2020  122.31  124.57  122.25  123.75      120.46   86712000.0
1038   Dec 4, 2020   122.6  122.86  121.52  122.25      119.00   78260400.0

[1039 rows x 7 columns]

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df = df.sort_values(by='Date')
df = df.reset_index(drop=True)

In [ ]:
df = df.dropna()

In [ ]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close ', 'Adj Close ', 'Volume'], dtype='object')

In [ ]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')

In [ ]:
df['volatility'] = (df['high'] - df['low']) / df['close']

In [ ]:
df.to_csv("apple_data_clean.csv", index=False)

In [ ]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1023 entries, 0 to 1038
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1023 non-null   datetime64[ns]
 1   open        1023 non-null   object
 2   high        1023 non-null   float64
 3   low         1023 non-null   float64
 4   close       1023 non-null   float64
 5   adj close   1023 non-null   float64
 6   volume      1023 non-null   float64
 7   volatility  1023 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 71.9+ KB