In [23]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [24]:
df=pd.read_excel("netflix.xlsx")
df.shape

(1257, 7)

In [25]:
df

              Date    Open    High     Low  Close   Adj Close        Volume
0      Dec 5, 2025   98.78  104.79   97.74  100.24      100.24  133177200.0
1      Dec 4, 2025  103.57  103.80  101.77  103.22      103.22   51779100.0
2      Dec 3, 2025  106.59  106.87  102.03  103.96      103.96   53593400.0
3      Dec 2, 2025  109.21  109.73  107.52  109.35      109.35   25763000.0
4      Dec 1, 2025  106.51  109.34  106.31  109.13      109.13   24873400.0
...            ...     ...     ...     ...     ...         ...          ...
1252  Dec 11, 2020    49.5   50.33   49.49   50.32       50.32   32109000.0
1253  Dec 10, 2020   49.46   50.38   49.29   50.11       50.11   30182000.0
1254   Dec 9, 2020   51.05   51.45   49.13   49.36       49.36   41788000.0
1255   Dec 8, 2020   51.79   52.15   50.56   51.27       51.27   42290000.0
1256   Dec 7, 2020      50   51.78   49.78   51.58       51.58   42893000.0

[1257 rows x 7 columns]

In [26]:
df['Date'] = pd.to_datetime(df['Date'])

In [27]:
df = df.sort_values(by='Date')
df = df.reset_index(drop=True)

In [28]:
df = df.dropna()

In [29]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close ', 'Adj Close ', 'Volume'], dtype='object')

In [30]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')

In [31]:
df['volatility'] = (df['high'] - df['low']) / df['close']

In [32]:
df.to_csv("netflix_clean.csv", index=False)

In [33]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1256 entries, 0 to 1256
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1256 non-null   datetime64[ns]
 1   open        1256 non-null   object
 2   high        1256 non-null   float64
 3   low         1256 non-null   float64
 4   close       1256 non-null   float64
 5   adj close   1256 non-null   float64
 6   volume      1256 non-null   float64
 7   volatility  1256 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 88.3+ KB