In [36]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [37]:
df=pd.read_excel("uber.xlsx")
df.shape

(1256, 7)

In [38]:
df

              Date   Open   High    Low  Close   Adj Close     Volume
0      Dec 5, 2025  90.72  92.75  90.46   91.32       91.32  11150200
1      Dec 4, 2025  90.18  91.00  89.45   90.99       90.99  13145300
2      Dec 3, 2025  89.85  91.38  88.95   90.68       90.68  21335800
3      Dec 2, 2025  86.03  88.44  85.63   87.57       87.57  18930400
4      Dec 1, 2025  86.99  87.61  85.47   86.57       86.57  17517200
...            ...    ...    ...    ...     ...         ...       ...
1251  Dec 11, 2020  54.47  55.03  52.33   52.63       52.63  16817900
1252  Dec 10, 2020  52.33  54.62  51.30   54.35       54.35  20207700
1253   Dec 9, 2020  53.98  56.02  53.06   53.79       53.79  46777900
1254   Dec 8, 2020  52.40  54.22  52.35   53.01       53.01  26167300
1255   Dec 7, 2020  54.59  54.87  53.65   53.80       53.80  13764400

[1256 rows x 7 columns]

In [39]:
df['Date'] = pd.to_datetime(df['Date'])

In [40]:
df = df.sort_values(by='Date')
df = df.reset_index(drop=True)

In [41]:
df = df.dropna()

In [42]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close ', 'Adj Close ', 'Volume'], dtype='object')

In [43]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')

In [44]:
df['volatility'] = (df['high'] - df['low']) / df['close']

In [45]:
df.head()
df.info()
import pandas as pd
df = pd.read_excel("uber.xlsx")
df.columns = df.columns.str.strip().str.lower()
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date').reset_index(drop=True)
df = df.dropna()
df['volatility'] = (df['high'] - df['low']) / df['close']

df['volume_prev'] = df['volume'].shift(1)
df['volatility_prev'] = df['volatility'].shift(1)

df['volume_delta'] = df['volume'] - df['volume_prev']
df['volatility_delta'] = df['volatility'] - df['volatility_prev']

df = df.dropna()
df.to_csv("uber.csv", index=False)

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1256 non-null   datetime64[ns]
 1   open        1256 non-null   float64
 2   high        1256 non-null   float64
 3   low         1256 non-null   float64
 4   close       1256 non-null   float64
 5   adj close   1256 non-null   float64
 6   volume      1256 non-null   int64
 7   volatility  1256 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 78.6 KB

,date,open,high,low,close,adj close,volume,volatility,volume_prev,volatility_prev,volume_delta,volatility_delta
1,2020-12-08,52.40,54.22,52.35,53.01,53.01,26167300,0.035276,13764400.0,0.022677,12402900.0,0.012600
2,2020-12-09,53.98,56.02,53.06,53.79,53.79,46777900,0.055029,26167300.0,0.035276,20610600.0,0.019752
3,2020-12-10,52.33,54.62,51.30,54.35,54.35,20207700,0.061086,46777900.0,0.055029,-26570200.0,0.006057
4,2020-12-11,54.47,55.03,52.33,52.63,52.63,16817900,0.051302,20207700.0,0.061086,-3389800.0,-0.009784
5,2020-12-14,53.27,53.44,51.24,51.46,51.46,19048500,0.042752,16817900.0,0.051302,2230600.0,-0.008550