In [58]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [59]:
df=pd.read_excel("ETH.xlsx")
df.shape

(1827, 7)

In [60]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Dec 6, 2025",3023.24,3064.26,3014.44,3051.44,3051.44,14271569920
1,"Dec 5, 2025",3134.36,3192.46,2989.83,3024.43,3024.43,28000268228
2,"Dec 4, 2025",3188.34,3238.56,3071.31,3134.32,3134.32,27434991113
3,"Dec 3, 2025",2997.80,3212.56,2988.14,3191.57,3191.57,29949301036
4,"Dec 2, 2025",2800.22,3032.76,2784.39,2997.94,2997.94,26593645111
...,...,...,...,...,...,...,...
1822,"Dec 10, 2020",573.50,574.60,549.78,559.68,559.68,11672582040
1823,"Dec 9, 2020",554.79,577.29,533.00,573.48,573.48,15855915840
1824,"Dec 8, 2020",591.90,594.75,552.47,554.83,554.83,14398919320
1825,"Dec 7, 2020",601.80,602.92,585.43,591.84,591.84,10720480962
1826,"Dec 6, 2020",596.57,606.79,584.41,601.91,601.91,11290893016

In [61]:
df['Date'] = pd.to_datetime(df['Date'])

In [62]:
df = df.sort_values(by='Date')
df = df.reset_index(drop=True)

In [63]:
df = df.dropna()

In [64]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close ', 'Adj Close ', 'Volume'], dtype='object')

In [65]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['date', 'open', 'high', 'low', 'close', 'adj close', 'volume'], dtype='object')

In [66]:
df['volatility'] = (df['high'] - df['low']) / df['close']

In [67]:
df.to_csv("ETH.csv", index=False)

In [68]:
df.head()
df.info()
import pandas as pd
df = pd.read_excel("ETH.xlsx")
df.columns = df.columns.str.strip().str.lower()
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date').reset_index(drop=True)
df = df.dropna()
df['volatility'] = (df['high'] - df['low']) / df['close']

df['volume_prev'] = df['volume'].shift(1)
df['volatility_prev'] = df['volatility'].shift(1)

df['volume_delta'] = df['volume'] - df['volume_prev']
df['volatility_delta'] = df['volatility'] - df['volatility_prev']

df = df.dropna()
df.to_csv("uber.csv", index=False)

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1827 non-null   datetime64[ns]
 1   open        1827 non-null   float64
 2   high        1827 non-null   float64
 3   low         1827 non-null   float64
 4   close       1827 non-null   float64
 5   adj close   1827 non-null   float64
 6   volume      1827 non-null   int64
 7   volatility  1827 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 114.3 KB

,date,open,high,low,close,adj close,volume,volatility,volume_prev,volatility_prev,volume_delta,volatility_delta
1,2020-12-07,601.80,602.92,585.43,591.84,591.84,10720480962,0.029552,1.129089e+10,0.037182,-5.704121e+08,-0.007630
2,2020-12-08,591.90,594.75,552.47,554.83,554.83,14398919320,0.076204,1.072048e+10,0.029552,3.678438e+09,0.046652
3,2020-12-09,554.79,577.29,533.00,573.48,573.48,15855915840,0.077230,1.439892e+10,0.076204,1.456997e+09,0.001027
4,2020-12-10,573.50,574.60,549.78,559.68,559.68,11672582040,0.044347,1.585592e+10,0.077230,-4.183334e+09,-0.032883
5,2020-12-11,559.68,560.38,537.81,545.80,545.80,11098819124,0.041352,1.167258e+10,0.044347,-5.737629e+08,-0.002995